<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Literary BOOM!</title>
  <link rel="Stylesheet" href="Stylesheet.css">
  <script src="https://kit.fontawesome.com/ff52836ed1.js" crossorigin="anonymous"></script>
</head>

<body>

   <div class ="over">
    <div class ="index-left">

      <h1> Literary Boom </h1>
      <h5>Sell your books Online</h5>

        <div class = "call-to-action">
          <h4>Want to sell your books online without drastically reducing your profit margin? Join Literary BOOM! today.</h4>
    
          <a <%= link_to "Join Literaryboom", new_user_registration_path %></a>
            <br>
            <br>
            <br>
          <a <%= link_to "View Orders", orders_path %></a>

        </div>
        
    </div>
    
        <div class= "index-right">
          <p>Phone: 0872315423</p>
          
          <h2>Popular Books</h2>
       
          <%=render 'layouts/popular'%>
        </div>
        <%=render 'layouts/categories'%>
<<<<<<< HEAD
        </div>
      </div>
=======
        <!--render categories here? causes infinite loop?-->
      
</div>
>>>>>>> mediaf



  </body>
</html>

