<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Literary BOOM!</title>
  <link rel="Stylesheet" href="Stylesheet.css">
  <script src="https://kit.fontawesome.com/ff52836ed1.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <div class="NavBar">
      <a href= '#'> "Placeholder Search"</a>
      <a href= '#'> Home </a>
      <a href= '#'> Browse</a>
      <a href= '#'> Basket </a>
      <a href= '#'> Log In </a>
      </div>
    </header>

  <main>
    <div class="contain">
    <div class="HorNav">
      <a href="#"> Your Books </a>
      <a href="#"> Engagements </a>
      <a href="#"> Earnings </a>
      <a href ="#"> Payment plan </a>
      </div>

    

      <div class="AuthorsBio">
      <img src="Author.jpg" alt="Author photo">
      <h2> John Doe </h2>
      <p> Views: *** </p>
      <p> Money: $$$ </p>
    </div>

    <div class="Books">
      <h1> Your Books </h1>
      <div class="PublishLeft">
      <img src="Book1.png" alt="Author's book">
    </div>
    <div class="PublishRight">
      <img src="Book2.png" alt="Authors second book">
    </div>
  </div>
</div>

    </main>



    <footer>
      <i class="far fa-address-card"></i>
      <p>Address: NCI, Mayor Street, International Financial Services Centre, Dublin </p>
      <i class="fas fa-phone"></i>
      <p> Phone Number: 0872315423 </p>
      <i class="fas fa-envelope"></i>
      <p>Email: Info@literaryboom.ie</p>
      </footer>

    </body>
    </html>
