<script src="https://kit.fontawesome.com/ff52836ed1.js" crossorigin="anonymous"></script>
<footer>
  <i class="far fa-address-card"></i>
  <p>Address: NCI, Mayor Street, International Financial Services Centre, Dublin </p>
  <i class="fas fa-phone"></i>
  <p> Phone Number: 0872315423 </p>
  <i class="fas fa-envelope"></i>
  <p>Email: Info@literaryboom.ie</p>
</footer>