    <% if user_signed_in? %>
        <li><%= link_to 'Edit Profile',  edit_user_registration_path %></li>
        <li><%= link_to 'Sign out',  destroy_user_session_path, :methd => :delete %></li>
    <% else%>
        <li><%= link_to 'Register',  edit_user_registration_path %></li>
        <li><%= link_to 'Sign in',  new_user_session_path %></li>
    <% end%>

